*{
    margin:0;
    padding:0;
      box-sizing: border-box;
}

/* ----------------------
    reusesable code 
----------------------- */
html{
    font-size: 10px;
}

:root{
    --main-bg:#FFFFFF;
    --buttonbg-color:#FF6464;
    --ah-bg-color:#EDF7FA;
    --text-color:#21243D;
    --white:#FFFFFF;
    --black:#000000;
}

h1,h2,h3,p{color: var(--text-color);}


.c-btn{
    height: 4rem;
    width: 15rem;
    background-color: var(--buttonbg-color);
    border: .1rem solid var(--black);
    color: var(--white);
    color: var(--white);
    color: var(--white);
}
/* ----------------------
    reusesable code  End
----------------------- */
body{
    background-color: var(--main-bg);
}

/* ----------------------
    Header Codes
----------------------- */
.navbar-toggler{
    margin-right: 5rem;
}
.navbar-brand{
    margin-left: 5rem;
}
.header-section{
background-color: var(--main-bg
);
}
.navbar-brand{
font-size: 1.5rem;}
.nav-item{
    margin-right: 2rem;
}
.nav-link{
    font-size: 1.5rem;
}
/* ----------------------
    Header Code End
----------------------- */
/* ----------------------
    Home section Codes
----------------------- */


.home-section{
   
}
.home-content-s{
    height: 45rem;
    width: 100%;
    display: flex;
    justify-content: center;
     align-items: center;
}
.my-img {
    height: 22rem;
    border-radius: 64% 36% 70% 30% / 46% 48% 52% 54% ;
    position: relative;
transition: 1s;
    animation: my-pic-ani 5s infinite linear;
}
@keyframes my-pic-ani {
    0% {
        border-radius: 64% 36% 70% 30% / 46% 48% 52% 54% ;
    }
    50% {
        border-radius: 37% 63% 47% 53% / 60% 30% 70% 40% ;
    }
    100% {
        border-radius: 64% 36% 70% 30% / 46% 48% 52% 54% ;
    }
}
.pic-div-c{
    display: flex;
    justify-content: center;
     align-items: center;
}
.home-c-text{
    
}
.home-c-text h1{
    font-size: 3.5rem;
}
.home-c-text p{
    font-size: 1.5rem;
}
/* ----------------------
    Home section down Codes
----------------------- */
.home-main-sec{
    height: 35rem;
    background-color: var(--ah-bg-color);
}


.h-d-hd-text{
font-size: 2rem;}
.h-d-mini{
    height: 4rem;
    width: 25rem;
}

.h-d-p-text{
    font-size: 1.2rem;
    padding: .2rem;
}
.h-d-p-text2{
    font-size: 1.2rem;
    padding: .2rem;
}
.line{
    margin-top: .2rem;
    height: 2rem;
    width: .2rem;
    border-right: #000000 solid .3px;
}

.h-d-p-text-p{
    font-size: 1.7rem;
    padding: .2rem;
}

.home-d-main-div{
    height: 30rem;
    width: 45rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
}
.home-d-main-div h3{
  font-size: 2rem;
}





